# Importing libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing data

In [3]:
PATH = '02 Data'

In [4]:
PATH

'02 Data'

## Import orders.csv

In [5]:
df_orders = pd.read_csv(os.path.join(PATH, 'Original Data', 'orders.csv'),index_col = False)




## Import products.csv

In [6]:
df_products = pd.read_csv(os.path.join(PATH, 'Original Data', 'products.csv'),index_col = False)

# Data Wrangling

## drop, or remove, columns
    df.drop(columns = ['variable'])

In [6]:
df_orders = df_orders.drop (columns = ('eval_set'))

In [7]:
df_orders.drop (columns = ('eval_set'))

KeyError: "['eval_set'] not found in axis"

# Checking the missing values

    df['variable'].value_counts(dropna = False)

In [19]:
df_orders['days_since_prior_order'].value_counts(dropna = False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

# Rename the column

    df.rename(columns = {'old name' : 'new name'}, inplace = True)

In [17]:
df_orders.rename(columns = {'order_dow':'orders_day_of_week'}, inplace = True)

In [23]:
df_orders.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# changing the data type

In [24]:
df_orders['order_id'] = df_orders['order_id'].astype('str')

In [28]:
df_orders['order_id'].dtype

dtype('O')

In [1]:
df_orders.shape

NameError: name 'df_orders' is not defined

# Import the department.csv

In [1]:
df_dpt = pd.read_csv(os.path.join(PATH, 'Original Data', 'departments.csv'))

NameError: name 'pd' is not defined

In [31]:
df_dpt.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

## change the data format (Transposing)- row to column and vice versa

In [32]:
df_dpt.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [33]:
df_dpt = df_dpt.T

## adding index to a dataframe

In [34]:
df_dpt.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

## creating a new header

In [38]:
# take the first row od df_dpt for the header
new_header = df_dpt.iloc[0]

In [37]:
new_header

0    department
Name: department_id, dtype: object

In [39]:
# take the data under the header row for a new df
df_dpt_new = df_dpt[1:]

In [40]:
df_dpt_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [41]:
#set the header row as the df header
df_dpt_new.columns = new_header

In [43]:
df_dpt_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [49]:
df_dpt = df_dpt_new

In [44]:
#turn your df_dep_new dataframe into a dictionary
data_dict = df_dpt_new.to_dict ('index')

In [45]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [47]:
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

{'department': 'snacks'}