# Importing libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
PATH = '02 DATA'

In [42]:
PATH

'02 DATA'

# Import the orders_products_prior.csv

In [3]:
# import the file orders_products_prior.csv

df_ords_prior = pd.read_csv(os.path.join(PATH, 'Original Data', 'orders_products_prior.csv'))

In [4]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
# check the dimension

df_ords_prior.shape

(32434489, 4)

##  data consistency check

In [6]:
# missing value 
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [7]:
# check duplicates

df_dups = df_ords_prior[df_ords_prior.duplicated()]

In [8]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [49]:
# import the df_orders.csv

df_orders = pd.read_csv(os.path.join(PATH, 'Prepared Data', 'orders_clean.csv'))

In [50]:
df_orders.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,11.11484
1,2398795,1,2,3,7,15.00000
2,473747,1,3,3,12,21.00000
3,2254736,1,4,4,7,29.00000
4,431534,1,5,4,15,28.00000

In [51]:
# check the dimension
df_orders.shape

(3421083, 6)

In [52]:
# Merge the dataframe with your df_ords dataframe

df_merged_large= df_orders.merge(df_ords_prior ,on = 'order_id',indicator = True)

In [53]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.11484,196,1,0,both
1,2539329,1,1,2,8,11.11484,14084,2,0,both
2,2539329,1,1,2,8,11.11484,12427,3,0,both
3,2539329,1,1,2,8,11.11484,26088,4,0,both
4,2539329,1,1,2,8,11.11484,26405,5,0,both

In [54]:
# check the frequency
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [55]:
# double check merge 

df_merged_large= df_orders.merge(df_ords_prior ,on = 'order_id',indicator = True, how = 'outer')

In [56]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

# export df_merge_large to pkl.

In [64]:
df_merged_large.to_pickle(os.path.join(PATH,'Prepared Data','orders_products_combined.pkl'))