# Importing libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
PATH = '02 DATA'

# 3. import the orders_products_combined dataframe

In [5]:
# import the order_products_combined.pkl

orders_products_combined = pd.read_pickle(os.path.join(PATH, 'Prepared Data', 'orders_products_combined.pkl'))

In [10]:
orders_products_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.11484,196.0,1.0,0.0,both
1,2539329,1,1,2,8,11.11484,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,11.11484,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,11.11484,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,11.11484,26405.0,5.0,0.0,both

# 4. Check the shape of the imported dataframe

In [6]:
# dimension of orders_products_combined

orders_products_combined.shape

(32640698, 10)

# 5. combine the orders_products_combined dataframe with products data set

In [18]:
# Import the product data

df_prods = pd.read_csv(os.path.join(PATH, 'Prepared Data', 'products_clean.csv'))

In [19]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [22]:
# dimesion of products.csv

df_prods.shape

(49693, 5)

In [25]:
# merge df_products and orders_products_combined

df_orders_products_merged = orders_products_combined.merge(df_prods , on = 'product_id')

In [27]:
df_orders_products_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,11.11484,196.0,1.0,0.0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.00000,196.0,1.0,1.0,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.00000,196.0,1.0,1.0,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.00000,196.0,1.0,1.0,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.00000,196.0,1.0,1.0,both,Soda,77,7,9.0

# 6.Confirm the results of the merge using the merge flag

In [29]:
# frequency check

df_orders_products_merged['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [32]:
# double check merge

df_orders_products_merged = orders_products_combined.merge(df_prods, on = 'product_id', how = 'outer')

In [33]:
# frequency check

df_orders_products_merged['_merge'].value_counts()

_merge
both          32436241
left_only       206209
right_only           0
Name: count, dtype: int64

# 7.Export the newly created dataframe as orders_products_merged

In [36]:
# export the df_orders_products_merged into pickle format

df_orders_products_merged.to_pickle(os.path.join(PATH,'Prepared Data','df_orders_products_merged.pkl'))